<div class="countdown" data-target="<%= target %>">
  <div class="countdown-block"><span class="cd-num" id="cd-d">00</span><span class="cd-unit">Days</span></div>
  <div class="countdown-sep">:</div>
  <div class="countdown-block"><span class="cd-num" id="cd-h">00</span><span class="cd-unit">Hours</span></div>
  <div class="countdown-sep">:</div>
  <div class="countdown-block"><span class="cd-num" id="cd-m">00</span><span class="cd-unit">Min</span></div>
  <div class="countdown-sep">:</div>
  <div class="countdown-block"><span class="cd-num" id="cd-s">00</span><span class="cd-unit">Sec</span></div>
</div>
