  <% if (locals.designPreview) { %>
  <div id="design-preview-badge">
    <span class="dpb-dot"></span>
    DESIGN PREVIEW
    <a href="/design-preview/off?return=<%= encodeURIComponent(locals._url || '/') %>" class="dpb-off">✕ Exit</a>
  </div>
  <% } %>
</body>
</html>
