<header class="banner">
  <div class="banner-inner">
    <a href="/" class="brand">
      <span class="cube"></span>
      CUE
    </a>
    <div class="banner-right">
      <% if (locals.user) { %>
        <div class="banner-user">
          <% if (locals.user.avatar) { %>
            <img class="banner-avatar" src="https://cdn.discordapp.com/avatars/<%= locals.user.id %>/<%= locals.user.avatar %>.png" alt="">
          <% } %>
          <span><%= locals.user.globalName || locals.user.username %></span>
        </div>
        <% if (locals.isAdmin) { %>
          <a href="/admin" class="banner-btn admin">Admin</a>
        <% } %>
        <a href="/auth/logout" class="banner-btn">Logout</a>
      <% } else { %>
        <a href="/auth/login" class="banner-login">Login with Discord</a>
      <% } %>
    </div>
  </div>
</header>
