<header class="banner">
  <div class="banner-inner">
    <a href="/" class="brand">
      <span class="cube"></span>
      CUE
    </a>
    <div class="banner-right">
      <a href="/staff" class="banner-btn staff-nav">Staff</a>
      <% if (locals.user) { %>
        <div class="banner-user">
          <% if (locals.user.avatar) { %>
            <img class="banner-avatar" src="<%= locals.user.avatar %>" alt="">
          <% } %>
          <span><%= locals.user.globalName || locals.user.username %></span>
        </div>
        <% if (locals.isAdmin || locals.isStaffAccess) { %>
          <a href="/admin" class="banner-btn admin">Control Centre</a>
        <% } %>
        <a href="/auth/logout" class="banner-btn">Logout</a>
      <% } else { %>
        <a href="/auth/discord" class="banner-login">Login with Discord</a>
      <% } %>
    </div>
  </div>
</header>
